<footer class="container" style="margin-top: 100px;">
  <div class="col-md-12">
    <!--版权所有 &copy;  NOSEC大数据安全协作平台 2015.-->
    <a href="https://nosec.org/">nosec.org</a>
    All Rights Reserved
    <a href="http://www.miitbeian.gov.cn">京ICP备15042518号</a>
  </div>
</footer>
